exports.username = '';
exports.password = '';
exports.cron     = '00 00 17 * * 1-5'; // Runs Monday through Friday at 5pm
exports.defaults = {
	date: 'today',
	shift1: '8:30a-12:30p',
	shift2: '1p-5p'
};
